

<EditForm Model="@chatsession" OnValidSubmit="@HandleValidSubmit">
<div class="col-md-6 p-3">
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Choose Predator</RadzenText>
            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@predators @bind-Value=@chatsession.PredatorId
                            TextProperty="FirstName" ValueProperty="Id" Class="w-100" />
        </RadzenCard>
    </div>

    <div class="col-md-6 p-3">
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Choose Decoy</RadzenText>
            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@decoys @bind-Value=@chatsession.DecoyId
                            TextProperty="Handle" ValueProperty="Id" Class="w-100" />
        </RadzenCard>
    </div>

        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Paste Chatlog below:</RadzenText>
                <RadzenTextArea Placeholder="Enter here..." @bind-Value=@Chatlog Class="w-100" />
            </RadzenCard>
        </div>

    <button type="submit" class="btn btn-primary me-1">Save Chatlog</button>

</EditForm>