@inject Radzen.DialogService dialogService
@inject NotificationService NotificationService
<EditForm Model="@chatlines" OnValidSubmit="@HandleValidSubmit">

<div class="col-md-6 col-lg-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Paste Chatlog below:</RadzenText>
        <RadzenTextArea Placeholder="Enter here..." @bind-Value=@chatlines.chatlog Class="w-100" />
    </RadzenCard>
</div>

<RadzenButton ButtonType="ButtonType.Submit" Style="width: 160px" IsBusy=@busy  Text="Save" />

</EditForm>
<div class="alert @StatusClass">@Message</div>