@using TCAPArchive.Shared.Domain;

@inject Radzen.DialogService dialogService
@inject NotificationService NotificationService


<RadzenTemplateForm TItem="@Predator" Data=@predator Submit=@HandleValidSubmit>
    <RadzenFieldset Text="Create Predator">
        <div class="row mb-5">
            <div class="col-md-4">
                <RadzenLabel Text="First Name" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block" Name="FirstName" @bind-Value=@predator.FirstName Class="w-100" />
                <RadzenRequiredValidator Component="FirstName" Text="First name is required" Popup=true Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <RadzenLabel Text="Last Name" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block" Name="LastName" @bind-Value=@predator.LastName Class="w-100" />
                <RadzenRequiredValidator Component="LastName" Text="Last name is required" Popup=true Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <RadzenLabel Text="Handle" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block" Name="Handle" @bind-Value=@predator.Handle Class="w-100" />
                <RadzenRequiredValidator Component="Handle" Text="Handle is required" Popup=true Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <RadzenLabel Text="Sting Location" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block" Name="StingLocation" @bind-Value=@predator.StingLocation Class="w-100" />
                <RadzenRequiredValidator Component="LastName" Text="Sting Location is required" Popup=true Style="position: absolute" />
            </div>
        </div>
        <RadzenButton ButtonType="ButtonType.Submit" Text="Create"></RadzenButton>
    </RadzenFieldset>
</RadzenTemplateForm>

<div class="alert @StatusClass">@Message</div>