

<div class="card" style="width: 300px;">
    <img src="@PredatorImage" class="card-img-top" alt="Sample Image">
    <div class="card-body text-center">
        <h5 class="card-title">@predator.FirstName @predator.LastName</h5>
        <p class="card-text">@predator.Description</p>
        <a href="#" class="btn btn-primary">View log</a>
    </div>
</div>