@layout AdminLayout
@page "/adminchatsessions"

@using TCAPArchive.Shared.ViewModels;
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager

<div class="col-lg-2 p-3">
    <RadzenButton Text=@($"Create") Style="width: 100%;" ButtonStyle="ButtonStyle.Secondary" Click="() => OpenChatSessionCreate()" />
</div>
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@adminChatSessions" TItem="AdminChatSessionViewModel" ColumnWidth="300px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Title="Photo" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenImage class="rz-gravatar" Path="@($"data:image/jpeg;base64,{Convert.ToBase64String(data.ImageData)}")" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Property="chatsession.Name" Title="Title" Width="100px" />
        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Property="LineCount" Title="Line Count" Width="100px" />
        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Property="PredatorName" Title="Predator Name" Width="100px" />
        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Title="Add log" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                @if (data.LineCount == 0)
                {
                    <RadzenButton Click="() => AddChatlogClick(data.chatsession.Id)" Icon="add" Style=" width: 40px" />
                }
                else
                {
                    <RadzenIcon Icon="done" />
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Title="Edit" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenButton Click="() => NavigateToChatSession(data.chatsession.Id)" Icon="edit" Style=" width: 40px" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="AdminChatSessionViewModel" Title="Delete" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenButton Click="() => DeleteButtonClick(data.chatsession.Id)" Icon="delete" Style=" width: 40px" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


