@layout AdminLayout
@page "/adminchatsessions"

@using TCAPArchive.Shared.ViewModels;
@inject DialogService DialogService
@inject NotificationService NotificationService
<div class="col-lg-2 p-3">
    <RadzenButton Text=@($"Create") Style="width: 100%;" ButtonStyle="ButtonStyle.Secondary" Click="() => OpenChatSessionCreate()" />
</div>
@if (adminChatSessions != null)
{
   
    <RadzenCard Class="mt-3">
        <RadzenDataList PageSize="4" WrapItems="true" AllowPaging="true"
                    Data="@adminChatSessions" TItem="AdminChatSessionViewModel">
            <Template Context="chatsession">
                <RadzenCard Style="width: 250px">
                    <div class="row">
                        <div class="col-md-8 text-truncate">
                            <RadzenBadge BadgeStyle="BadgeStyle.Light" Text=@($"{chatsession.LineCount}") Class="me-1" />
                            <b>@(chatsession.ChatSession.Name)</b>
                        </div>
                     
                    </div>
                    <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                    <div class="d-flex flex-row align-items-center">
                        <RadzenImage Path="@chatsession.predator.Handle" Class="rounded-circle float-start me-3" Style="width: 80px; height: 80px;" />
                        <div>
                            <h4 class="mb-0">@(chatsession.predator.FirstName + " " + chatsession.predator.LastName)</h4>

                            @if (chatsession.LineCount != 0)
                            {
                                <div>There is a chat log attached.</div>
                            }
                            else
                            {
                                <div>There is no chatlog attached.</div>
                                }
                            </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </RadzenCard>
    } else{
        <h1> NO CHAT SESSIONS </h1>
    }