@layout AdminLayout
@page "/admindecoys"
@using TCAPArchive.Shared.Domain
@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="col-lg-2 p-3">
    <RadzenButton Text=@($"Create") Style="width: 100%;" ButtonStyle="ButtonStyle.Secondary" Click="() => OpenDecoyCreate()" />
</div>
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@Decoys" TItem="Decoy" ColumnWidth="300px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Decoy" Title="Photo" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenImage class="rz-gravatar" Path="@($"data:image/jpeg;base64,{Convert.ToBase64String(data.ImageData)}")" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Decoy" Property="Handle" Title="Handle" Width="100px" />
      
        <RadzenDataGridColumn TItem="Decoy" Title="Edit" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenButton Click="() => OpenDecoyEdit(data.Id, data.Handle)" Icon="edit" Style=" width: 40px" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Decoy" Title="Delete" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenButton Click="() =>  OpenDeleteDialog(data.Id, data.Handle)" Icon="delete" Style=" width: 40px; background-color: red;" />
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>