@layout AdminLayout
@page "/adminchatsessions"

@using TCAPArchive.Shared.ViewModels;
@inject DialogService DialogService
@inject NotificationService NotificationService
<div class="col-lg-2 p-3">
    <RadzenButton Text=@($"Create") Style="width: 100%;" ButtonStyle="ButtonStyle.Secondary" Click="() => OpenChatSessionCreate()" />
</div>
@if (adminChatSessions != null)
{
   
<RadzenDataList WrapItems="true" AllowPaging="true" Data="@adminChatSessions" TItem="AdminChatSessionViewModel" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left">
    <Template Context="chatsession">

        <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
            <div class="container">
                <div class="row" style="margin-left: calc(var(--bs-gutter-x) * -1); margin-right: calc(var(--bs-gutter-x) * -1)">
                    <div class="col-lg-3 p-3">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-color-secondary">@(chatsession)</RadzenText>
                            </div>
                            <div class="col-lg-7 p-3">
                                <div class="row d-flex">
                                    <div class="col-md-6 col-lg-2">

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 p-3">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Text="Delete" Size="ButtonSize.Medium" Click="@((args) => DeleteButtonClick(chatsession.ChatSession.Id))" @onclick:stopPropagation="true"></RadzenButton>
                            </div>
                        </div>
                    </div>
                </RadzenCard>
        </Template>
    </RadzenDataList>
    } else{
        <h1> NO CHAT SESSIONS </h1>
    }