@layout AdminLayout
@page "/predators"
@using Microsoft.AspNetCore.Components.Authorization;
@using TCAPArchive.Shared.Domain
@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="col-lg-2 p-3">
    <RadzenButton Text=@($"Create") Style="width: 100%;" ButtonStyle="ButtonStyle.Secondary" Click="() => OpenPredatorCreate()" />
</div>
  <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" 
        FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@Predators" TItem="Predator" ColumnWidth="300px" 
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns> 
        <RadzenDataGridColumn TItem="Predator" Title="Photo" Sortable="false" Filterable="false" Width="50px" >
            <Template Context="data">
                <RadzenImage class="rz-gravatar" Path="@($"data:image/jpeg;base64,{Convert.ToBase64String(data.ImageData)}")" />
            </Template>
            </RadzenDataGridColumn>
        
        <RadzenDataGridColumn TItem="Predator" Property="FirstName" Title="First Name" Width="100px" />
        <RadzenDataGridColumn TItem="Predator" Property="LastName" Title="Last Name" Width="100px" />
        <RadzenDataGridColumn TItem="Predator" Property="Handle" Title="Handle"  />
        <RadzenDataGridColumn TItem="Predator" Property="StingLocation" Title="Sting Location"  />
        <RadzenDataGridColumn TItem="Predator" Title="Edit" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenButton Click="() => OpenPredatorEdit(data.Id, data.FirstName)" Icon="edit" Style=" width: 40px" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Predator" Title="Delete" Sortable="false" Filterable="false" Width="50px">
            <Template Context="data">
                <RadzenButton Click="() =>  OpenDeleteDialog(data.Id, data.FirstName)" Icon="delete" Style=" width: 40px; background-color: red;" />
            </Template>
        </RadzenDataGridColumn>
     
        </Columns>
    </RadzenDataGrid>