@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex h-100">
    <div class="col justify-content-center align-self-center text-center">
        <h1 class=" ">TCAP ARCHIVE</h1>
        <a href="@($"predators")" class="btn btn-outline-dark">
        View Predators
        </a>
    </div>
</div>
