@page "/predators"

<h2> Predators Overview </h2>

<div class="d-flex row">
 
        @if (Predators != null)
        {
            @foreach(var predator in Predators)
            {
        
        <PredatorCard predator="predator"></PredatorCard>
            }
        }
</div>