@page "/predators"

<h2> Predators Overview </h2>

<div>
    <CardDeck>
        @if (Predators != null)
        {
            @foreach(var predator in Predators)
            {
        
        <PredatorCard predator="predator"></PredatorCard>
            }
        }
    </CardDeck>
</div>