@page "/register"
@layout EmptyLayout
@inject HttpClient HttpClient
@using System.Text.Json

<h3>Register</h3>

<EditForm Model="@registerModel" OnValidSubmit="(e) => HandleRegister(registerModel)">
    >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="email" @bind-Value="@registerModel.Email" placeholder="Email" />
    <InputText id="password" type="password" @bind-Value="@registerModel.Password" placeholder="Password" />

    <button type="submit">Register</button>
</EditForm>


@code {

    private RegisterViewModel registerModel = new RegisterViewModel();

    public async Task<bool> HandleRegister(RegisterViewModel model)
    {
        var response = await HttpClient.PostAsJsonAsync("/api/account/register", model);

        if (response.IsSuccessStatusCode)
        {
            // User was successfully registered
            return true;
        }

        // Registration failed
        return false;
    }
}